{% extends "base.html" %}
{% block title %}
Обучение программированию
{% endblock %}
{% block style %}
{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
    {% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div class="submenu">
        <a href="/create_category/">Создать новую категорию  </a>
    </div>

    <div>
        <h1>Список существующих категорий </h1>
        {% for item in objects_list %}
        <li>
            {{item.name}}<span> Количество курсов: {{item.course_count()}}</span>
            <a href="/courses_list/?id={{item.id}}">Показать курсы</a>
        </li>
        {% endfor %}
    </div>
<div class="new_string"></div>
<div>
    <li>
        <a href="/student-list/">Список студентов</a>
    </li>
    <li>
        <a href="/create-student/">Создать студента</a>
    </li>
    <li>
        <a href="/add-student/">Добавить студента на курс</a>
    </li>
</div>
<div class="new_string"></div>
<div class="new_string"></div>
{% endblock %}